body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
}

.container {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  width: 50vw;
  -webkit-box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.15);
}

.container__img {
  background-image: url("../images/drawers.jpg");
  width: 40%;
  background-size: cover;
}

.container__article {
  width: 60%;
  padding: 2em 2.6em;
}

.container .article__title {
  font-weight: 700;
  color: #48556a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
}

.container .article__paragraph {
  font-weight: 500;
  color: #6d7f97;
  max-width: 45ch;
}

.container .article__info {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .article__author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: 0.3em;
}

.container .article__author img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container .article__author__name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ span 1;
  font-weight: 700;
  color: #48556a;
}

.container .article__author__date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ span 1;
  font-weight: 500;
  color: #9eafc2;
}

.container .article__share {
  border: none;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background-color: #ecf2f8;
  fill: #ecf2f8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  -ms-transition: background-color 2s;
  -o-transition: background-color 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .article__share:hover {
  cursor: pointer;
}

.container .article__share:focus {
  outline: 1px dotted #48556a;
}

.container .article__share img {
  width: 1.1em;
  height: 1.1em;
  -webkit-transition: -webkit-filter 2s;
  transition: -webkit-filter 2s;
  transition: filter 2s;
  transition: filter 2s, -webkit-filter 2s;
  filter: none;
  -webkit-filter: none;
  -webkit-transition: filter 2s;
  -moz-transition: filter 2s;
  -ms-transition: filter 2s;
  -o-transition: filter 2s;
}

.container .article__share__socials {
  position: absolute;
  top: 48%;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20em;
  opacity: 0;
  visibility: hidden;
  background-color: #48556a;
  color: #9eafc2;
  letter-spacing: 5px;
  padding: 1.5em 3em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-backface-visibility: hidden;
}

.container .article__share__socials::after {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  bottom: -0.9em;
  background-color: #48556a;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.container .article__share__fb, .container .article__share__pin, .container .article__share__twit {
  width: 1.5em !important;
  height: 1.5em !important;
}

.container .imgClicked {
  filter: invert(100%) sepia(12%) saturate(100%) hue-rotate(191deg) brightness(200%) contrast(114%) !important;
  -webkit-filter: invert(100%) sepia(12%) saturate(100%) hue-rotate(191deg) brightness(200%) contrast(114%) !important;
}

.container .shareClicked {
  background-color: #6d7f97;
}

.container .socialsShow {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1325px) {
  .container {
    width: 60vw;
  }
}

@media only screen and (max-width: 1105px) {
  .container {
    width: 70vw;
  }
}

@media only screen and (max-width: 945px) {
  .container {
    width: 80vw;
  }
}

@media only screen and (max-width: 920px) {
  .img__wrapper {
    position: relative;
  }
  .container .article__share__socials {
    top: 57%;
    left: 42%;
    padding-left: 3em;
    padding-right: 8em;
    padding-top: 1.5em;
    padding-bottom: 2.75em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 48%;
  }
  .container .article__share__socials::after {
    display: none;
  }
  .article__share.shareClicked .img__wrapper::before {
    content: ' ';
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    background-color: #6d7f97;
    top: -39%;
    border-radius: 50%;
    left: -50%;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__img {
    width: 100%;
    height: 25em;
  }
  .container__article {
    width: 100%;
  }
  .container .article__paragraph {
    max-width: 65ch;
  }
  .container .article__share__socials {
    top: 75.2%;
    left: 10%;
    padding-left: 3em;
    padding-right: 30%;
    padding-top: 1.4em;
    padding-bottom: 2.75em;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 715px) {
  .container .article__share__socials {
    top: 76.3%;
  }
}

@media only screen and (max-width: 511px) {
  .article__title {
    font-size: 17px;
  }
}

@media only screen and (max-width: 445px) {
  .container {
    width: 90vw;
  }
  .container .article__share__socials {
    top: 77.5%;
    left: 5%;
    width: 90%;
  }
}

@media only screen and (max-width: 395px) {
  .article__title {
    font-size: 15px;
  }
  .container__article {
    padding: 2em 2em;
  }
  .container .article__share__socials {
    top: 77.3%;
    left: 5%;
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */